{% extends 'base.jinja2' %}

{% block app_content %}
    <table class="world">
    {% for i in range(current_game.width) %}
        <tr>
            {% for j in range(current_game.height) %}
                {% if current_game.world[i][j] == 1 %}
                    <td class="cell living-cell"></td>
                {% elif current_game.world[i][j] == 0 and current_game.old_world[i][j] == 1 %}
                    <td class="cell dead-cell"></td>
                {% else %}
                    <td class="cell"></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <a class="btn btn-warning home" href="{{ url_for('index') }}">На главную</a>
    <a class="btn btn-info refresh" href="{{ url_for('create_life') }}">Создать новую жизнь</a>
    <div class="counter">{{ current_game.counter }}</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        setInterval(() => window.location.reload(), 1000);
    </script>
{% endblock %}


